</div>
<!-- /#wrapper --> 
<?php if($route=='patient/patient/calendar'){ ?>
<script src="catalog/view/javascript/bootstrap.min.js"></script>
<?php } else { ?>

<!-- jQuery --> 
<script src="catalog/view/javascript/jquery.js"></script> 
<script src="catalog/view/javascript/bootstrap.min.js"></script>
<script src="catalog/view/javascript/moment-with-locales.js"></script>
<script src="catalog/view/javascript/bootstrap-datetimepicker.js"></script>
<script src="catalog/view/javascript/zelect.js"></script>
<script src="catalog/view/javascript/jquery.slimscroll.min.js"></script>
<script type="text/javascript">
$.noConflict();
jQuery(document).ready(function($){
 $(function () {
		$('#datetimepicker1').datetimepicker({ 
			format: 'YYYY-MM-DD'			
		});
	});		
	
	});			
</script> 
<script type="text/javascript">
    $(function(){

      $('#sideFotr').slimScroll({
          wheelStep: 20
      });

    });
</script>
 <script type="text/javascript">
		 $(setup)

    function setup() {
      $('#intro select').zelect({ placeholder:'Select Doctor' })
    }
	
		$('.form_datetime').datetimepicker({
			//language:  'fr',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1
		});
        </script>
        <script>
   jQuery(document).ready(function($){
 /* // Get current path and find target link
  var path = window.location.href;
  // Account for home page with empty path
  if ( path == '' ) {
    path = 'index.php';
  }
  var target = $('.navbar-left li a[href="'+path+'"]');
  var target=$(target).text();
 // alert(target.html());
  // Add active class to target link
  target.closest('li').addClass('active');*/
   var activeurl = window.location;
		$('a[href="'+activeurl+'"]').parent('li').addClass('active');
});
</script>
        <?php } ?>
</body>
</html>
