<?php echo $header; ?>

<?php echo $column_left; ?>

</nav>

<div id="page-wrapper">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <h2 class="appointments"><?php echo $heading_title; ?> </h2>
        
        <?php if ($attachment_update) { ?>
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $attachment_update; ?></div>
  <?php } ?>

        <div class="pull-right">

      <a href="<?php echo $add; ?>" data-toggle="tooltip" title="<?php echo $button_add; ?>" class="btn btn-primary"><i class="fa fa-plus"></i></a>

      </div>

        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

          <div class="input-group">

            <input id="searchval" class="form-control" placeholder="Search for..." type="text">

            <span class="input-group-btn">

            <button class="btn btn-default" type="button">Go!</button>

            </span> 

            </div>

        </div>

      </div>



        <div class="col-xs-12">

          <div class="x_panel">

            <div class="x_content">

              <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="datatable_wrapper">

                <div class="row">

                  <div class="col-sm-12">

                    <table aria-describedby="datatable_info" role="grid" id="datatable" class="table table-striped table-bordered dataTable no-footer">

                      <thead>

                <tr>

                 

                  <td class="text-left"><?php if ($sort == 'id.title') { ?>

                    <strong><?php echo $column_title; ?></strong>

                    <?php } else { ?>

                    <strong><?php echo $column_title; ?></strong>

                    <?php } ?></td>

                  <td class="text-right"><?php if ($entry_attachment == 'entry_attachment') { ?>

                    <?php echo $column_sort_order; ?>

                    <?php } else { ?>

                   <strong> <?php echo $entry_attachment; ?></strong>

                    <?php } ?></td>
                  <td class="text-right"><?php echo $column_date; ?></td>
                  <td class="text-right"><?php echo $column_action; ?></td>

                </tr>

              </thead>

                      <tbody class="odd">

                        <?php 

                           if(count($informations)>0){

                          foreach ($informations as $information) {

                        ?>

                        <tr class="odd1" role="row">

                          <td class="sorting_1"><?php echo $information['title']; ?></td>

                          <td><a class="btn" href="<?php echo $information['urls']; ?>" download><i class="fa fa-file"></i><?php //echo $information['attachment']; ?></a></td>
                          
                          <td><?php echo $information['created_at']; ?></td>

                          <td><a href="<?php echo $information['edit']; ?>" data-toggle="tooltip" title="<?php echo $button_edit; ?>" class="btn btn-primary"><i class="fa fa-pencil"></i></a>

                          <a href="<?php echo $information['delete']; ?>" onclick="return confirm('Are you sure you want to delete this item?');" data-toggle="tooltip" title="<?php echo $button_delete; ?>" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>

                          </td>

                         

                        </tr>

                        <?php }} else { 

              ?>

              <td class="sorting_1" colspan="4">Result Not found</td>

            <?php

                         } ?>

                      </tbody>

                    </table>

                  </div>

                </div>

     

                  <div class="col-sm-12 mr_tp20">

                    <div id="datatable_paginate" class="dataTables_paginate paging_simple_numbers">

                      <div class="col-sm-6 text-left pagintionBox"><?php echo $pagination; ?></div>
                      <div class="col-sm-6 text-right"><?php echo $results; ?></div>

                    </div>

                  </div>


              </div>

            </div>

          </div>

        </div>



    </div>

  </div>

  <!-- /.container-fluid --> 

  

</div>

<script>
		$(document).on('keyup', '#searchval', function(e) {
 		 e.preventDefault();
		//alert("test");
		//alert($(this).attr('data-value'));
		//alert("val");
		 $.ajax({
      url: 'index.php?route=doctor/attachment/search&term=' + this.value,
      dataType: 'html',
      success: function(htmlText) {
        $('.odd').html(htmlText);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
		});


</script>

<?php echo $footer; ?>