<?php echo $header; ?>
<?php echo $column_left; ?>
</nav>
<div id="page-wrapper">
    <div class="container-fluid">
        <h2 class="appointments">Free Consultation</h2>
       <?php if (isset($success)) { ?>
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <?php } ?>
  <div class="pad_Tb30">
  <div class="col-sm-6 col-sm-offset-3 pad_Tb15 fborder">
  <h3 class="text-center">please Fill Form</h3>
  <hr />
        <form class="form-horizontal" id="form-information" enctype="multipart/form-data" method="post" action="<?php echo $action ; ?>">
        <div class="form-group">
            
          </div>
        <div class="form-group mrgl-1">
            <label for="exampleInputFile" >Upload Image</label>
            <input type="file" name="image" id="exampleInputFile">
          </div>
          <div class="clearfix"></div>
          <div class="search_bax">
          <div class="form-group">
            <label>Phone No.</label>
            <input type="text" name="mobile" value="<?php echo $mobile ?>" class="form-control" placeholder="Phone Number">
            <?php if ($error_mobile) { ?>
              <div class="text-danger"><?php echo $error_mobile; ?></div>
              <?php } ?>
          </div>
          
          <div class="form-group">
            <label>Query.</label>
            <textarea rows="4" name="query" cols="50" class="form-control"><?php echo $query; ?></textarea>
             <?php if ($error_query) { ?>
              <div class="text-danger"><?php echo $error_query; ?></div>
              <?php } ?>
          </div>
          <button type="submit" class="btn btn-Submit1">Submit</button>
          </div>
        </form>
        </div>
        </div>
      <!-- /.row --> 
    </div>
    <!-- /.container-fluid --> 
  </div>
<!-- jQuery --> 
<!--<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/zelect.js"></script> 
<script type="text/javascript">
		 $(setup)

    function setup() {
      $('#intro select').zelect({ placeholder:'Select Doctor' })
    }
	
		$('.form_datetime').datetimepicker({
			//language:  'fr',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1
		});
        </script>-->
<?php echo $footer; ?>