<?php echo $header; ?>

<?php echo $column_left; ?>

</nav>

<div id="page-wrapper">
    <div class="container-fluid">
      <div class="col-xs-12">
        <h2 class="appointments">specialization</h2>
        <div style="text-align:center;"> <span class="success-msg"> <?php //echo $success; ?> </span> </div>
        <form class="form-horizontal" id="form-information" enctype="multipart/form-data" method="post" action="">
          <div class="form-group">
            <label for="sel1">Doctors</label>
            <section id="intro">
              <select id="doctor" name="doctor">
                   <?php if ($customerlist) { ?>
                    <?php foreach ($customerlist as $customer) { ?>

                    <option value="<?php echo $customer['customer_id'];?>" ><?php echo $customer['name'];?></option>  

                    <?php } } ?>

                </select>
            </section>
          </div>
          <div class="clearfix"></div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="email">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
          </div>
          <button type="submit" class="btn btn-Submit1">Submit</button>
        </form>
      </div>
      
      <!-- /.row --> 
      
    </div>
    
    <!-- /.container-fluid --> 
    
  </div>
<!-- jQuery --> 
<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/zelect.js"></script> 
<!--<script type="text/javascript">
		 $(setup)

    function setup() {
      $('#intro select').zelect({ placeholder:'Select Doctor' })
    }
	
		$('.form_datetime').datetimepicker({
			//language:  'fr',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1
		});
        </script>-->
<?php echo $footer; ?>