@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
body{font-family: 'Open Sans';font-weight: 400; background: #fff;}
.navbar-ex1-collapse  { background: #4d4d4d;}
.navbar-brand { color:#fff !important;}
.navbar-inverse .navbar-nav > li > a { color:#434344; font-weight:600; font-size: 13px; }
.navbar-inverse .navbar-nav > li > a:hover { background: #ccc;}
.navbar-inverse .navbar-nav > li > a i { padding: 0 10px 0 10px;}
.navbar-inverse .navbar-nav > li > a .user { margin: 10px 0 0px 0px}
.navbar-inverse .navbar-nav > li > a .user p { text-align: center; font-size: 14px; font-weight: 600; padding-top: 15px; }
.navbar-inverse .navbar-nav > li > a .Consult { margin-top: 30px;}
.navbar-inverse .navbar-nav > li > a .Consult p { text-align: center; font-size: 15px; font-weight: 600; padding-top: 15px; }
.appointments { text-transform: uppercase; padding: 10px 0 0 16px; background: #cccccc; font-size: 13px; color: #0d000a; font-weight: 500;  min-height: 33px; border-top-left-radius: 5px; border-top-right-radius: 5px; margin-bottom: 0px !important; font-family: 'Roboto', sans-serif;}
.appointments .fa-plus-square-o { float: right; font-size: 22px; padding-right: 20px;}
.table > tbody > tr, .table > tbody > tr > th, .table > tfoot > tr, .table > tfoot > tr, .table > thead > tr, .table > thead > tr > th { font-size: 13px; font-weight: normal; text-align: left; color: #70777c; font-family: 'Roboto', sans-serif;}
.table > tbody > tr > td, .table > tbody > tr, .table > tfoot > tr > td, .table > tfoot > tr, .table > thead > tr > td, .table > thead > tr { /*padding: 10px 0 0 20px;*/ font-size: 12px; font-weight: 400; text-align: left; color: #70777c; font-family: 'Roboto', sans-serif;}
.table-responsive .btn-primary { background-color: #428bca; border-color: #428bca; font-size: 11px; font-weight: 500; float: left; margin-right: 4px; color: #fff; padding: 4px 8px 4px 8px; /* margin:  -5px 0 5px 0px;*/ }
.media { margin: 0px; padding: 0px; border: 1px solid #e2dede;}
.media-left { width: 30%; text-align: right; padding-top: 10px;}
.media-left p { color: #867e7e; font-size: 10px; font-weight:600; line-height: 18px; padding-right: 3px;}
.media-heading1 { float: left; padding-left: 10px;}
.media-heading1 h4 { color:#70777c; font-size: 12px; font-weight: 600;}
.media-heading1 p {  color: #867e7e; font-size: 12px; font-weight: normal;}
.media-body img{ float: left; padding-top: 3px;}
.media-body { padding-top: 10px;}
.cont101 img { width: 100%;}
.modal-content { margin-top: 20%;}
.fc-center h2 { font-size: 15px; padding-top: 5px;} 
.page-title h3 { padding-left: 10px;}
.table { margin: 0 0px 0 0px; max-width: 100%; width: 100%;}
.pagination {border-radius: 4px; display: inline-block; float: right; margin: 60px 0;}
.pull-right a{ float: right !important; margin: 10px;}
.top_search .input-group { margin-top: 10px;}
.nav-tabs { margin: 0 0 0 15px;}
.tab-content {margin: 0 0 0 15px;}
.marRl0 .form-control { width: 35%;} 
.marRl0 label { font-weight: 600;}
.marRl0 .btn-default { background: #428bca; border: 1px solid #428bca; color: #fff;}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th { border-bottom: 1px;}
.cont201 { padding: 0px; margin: 0px;}
.dropdown img { width: 27px; border-radius: 50%; }

/*@media( max-width: 992px){
.appointments { margin-top: 7px;}	
}
*/

@media (min-width:0px) and (max-width:767px){
.marRl0 .form-control { width: 100%;} 
.media { margin-bottom: 0px;}
/*.appointments { margin-top: -43px;}*/
.top-nav > li > a {padding: 6px 0 6px 10px;}
.table > tbody > tr > td, .table > tbody > tr, .table > tfoot > tr > td, .table > tfoot > tr, .table > thead > tr > td, .table > thead > tr {font-size: 13px;
    font-weight: normal; /*  padding: 10px 0 0;*/}
.btn-primary {  margin: -5px 0 5px;  padding: 1px 5px 1px 5px;}
.fc-center h2 { font-size: 16px;} 
.btn-danger {  margin: -5px 0 5px 4px;
    padding: 2px 5px 0 6px;
}
.pagination { float: none;  margin: 60px 0 0 30px;}
.container-fluid { margin-top: -45px;}
.navbar-inverse .navbar-nav > li > a { color: #fff; width: 100% !important;}
}
@media (max-width: 480px){
	.navbar-inverse .navbar-nav > li > a { color: #fff; width: 100% !important;}
.table > tbody > tr > td, .table > tbody > tr, .table > tfoot > tr > td, .table > tfoot > tr, .table > thead > tr > td, .table > thead > tr {font-size: 11px;
    font-weight: normal;   padding: 10px 0 0;}	
	
.table > tbody > tr, .table > tbody > tr > th, .table > tfoot > tr, .table > tfoot > tr, .table > thead > tr, .table > thead > tr > th { font-size: 11px; font-weight: bold;}	
	
.fc-center h2 { font-size: 15px;} 
.marRl0 .form-control { width: 100%;} 
.btn-danger {
  margin: -5px 0 5px 4px;
    padding: 2px 5px 0 6px;
}
.pagination { float: none;  margin: 60px 0 0 30px;}
.top-nav > li > a {padding: 6px 0 6px 10px;}
.top-nav { display: none;} 
}
@media (max-width: 375px){
.table > tbody > tr > td, .table > tbody > tr, .table > tfoot > tr > td, .table > tfoot > tr, .table > thead > tr > td, .table > thead > tr {font-size: 11px;
  padding: 10px 0 0 5px;}	
.btn-primary {  margin: 5px 0 5px 10px;  padding: 1px 5px 1px 5px;}
.btn-danger { margin: 10px 0 5px 10px;  padding: 2px 5px 0 6px;}	
.pagination { float: none;  margin: 60px 0 0 57px;}
.top-nav > li > a {padding: 2px 0 6px 10px;}
.top-nav { display: none;} 
}