<?php echo $header; ?>
<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
<script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
<?php echo $column_left; ?>
</nav>

<div id="page-wrapper" class="min-page-ht">
  <div class="container-fluid">	
    <div class="">
      <h2 class="appointments"><?php echo $heading_title; ?></h2>
      <!--<div class="clearfix">&nbsp;</div>-->
      
      <section class="pad_Tb30">
      <div class="col-sm-8 col-sm-offset-2 fborder padall30">
      <ul class="nav nav-tabs mr_btm20">
        <li class="active"><a data-toggle="tab" href="#account"><?php echo $tab_account; ?></a></li>
        <li><a data-toggle="tab" href="#image"><?php echo $tab_image ;?></a></li>
        <li><a data-toggle="tab" href="#clinic"><?php echo $tab_clininc ;?></a></li>
      </ul>
      <div class="tab-content">
        <div id="account" class="tab-pane fade in active">
          <h3><?php echo $tab_account; ?></h3>
          <?php if ($account_update) { ?>
          <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $account_update; ?></div>
          <?php } ?>
          <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-information" class="form-horizontal marTp_15">
            <div class="form-group marRl0">
              <label for="comment"><?php echo $text_firstName; ?></label>
              <input type="text" name="firstname" placeholder="<?php echo $text_firstName; ?>" value="<?php echo $customer_info['firstname']; ?>" class="form-control" required/>
              <?php if ($error_firstname) { ?>
              <div class="text-danger">
                <?php  echo  $error_firstname; ?>
              </div>
              <?php } ?>
            </div>
            <div class="form-group marRl0">
              <label for="comment"><?php echo $text_LastName; ?></label>
              <input type="text" name="lastname" class="form-control" value="<?php echo $customer_info['lastname']; ?>" placeholder="<?php echo $text_LastName; ?>" required/>
              <?php if ($error_lastname) { ?>
              <div class="text-danger">
                <?php  echo $error_lastname; ?>
              </div>
              <?php } ?>
            </div>
            <div class="form-group marRl0">
              <label for="comment"><?php echo $text_UserName; ?></label>
              <input type="text" readonly="readonly" name="username" class="form-control" value="<?php echo $customer_info['username']; ?>" placeholder="<?php echo $text_UserName; ?>" required/>
              <?php if ($error_username) { ?>
              <div class="text-danger">
                <?php  echo $error_username; ?>
              </div>
              <?php } ?>
            </div>
            <div class="form-group marRl0">
              <label for="comment"><?php echo $text_Email; ?></label>
              <input type="text" name="email" class="form-control" value="<?php echo $customer_info['email']; ?>" placeholder="<?php echo $text_Email; ?>" required/>
              <?php if ($error_email) { ?>
              <div class="text-danger">
                <?php  echo $error_email; ?>
              </div>
              <?php } ?>
            </div>
            <div class="form-group marRl0">
              <label for="comment"><?php echo $text_Telephone; ?></label>
              <input type="text" name="telephone" class="form-control" value="<?php echo $customer_info['telephone']; ?>" placeholder="<?php echo $text_Telephone; ?>" />
              <?php if ($error_telephone) { ?>
              <div class="text-danger">
                <?php  echo $error_telephone; ?>
              </div>
              <?php } ?>
            </div>
            <div class="form-group marRl0">
            <?php $availability= $customer_info['availability']; $availability = explode(',', $availability);
            function isChecked($val, $arr){
  			if(in_array($val, $arr)){
   			 return 'checked';
                  }
                  else
                  {
                  return "";
                  }
                }
            
              ?>
              <label for="comment"><?php echo $text_Availability;  ?></label>
              <input type="checkbox" name="availability[]" value="sun" <?php echo isChecked('sun', $availability); ?> /> Sunday
              <input type="checkbox" name="availability[]" value="mon" <?php echo isChecked('mon', $availability); ?> /> Monday
              <input type="checkbox" name="availability[]" value="tue" <?php echo isChecked('tue', $availability); ?> /> Tuesday
              <input type="checkbox" name="availability[]" value="wed" <?php echo isChecked('wed', $availability); ?> /> Wednesday
              <input type="checkbox" name="availability[]" value="thr" <?php echo isChecked('thr', $availability); ?> /> Thrusday
              <input type="checkbox" name="availability[]" value="fri" <?php echo isChecked('fri', $availability); ?> /> Friday
              <input type="checkbox" name="availability[]" value="sat" <?php echo isChecked('sat', $availability); ?> /> Saturday
              <?php if ($error_availability) { ?>
              <div class="text-danger">
                <?php  echo $error_availability; ?>
              </div>
              <?php } ?>
            </div>
            <button class="btn btn-default" type="submit">Submit</button>
          </form>
        </div>
        <div id="image" class="tab-pane fade">
          <h3>Change Image</h3>
          <div class="form-group">
            <form action="<?php echo $action_updateImage; ?>" method="post" enctype="multipart/form-data" id="form-customer" class="form-horizontal">
              <!--<label class="col-sm-2 control-label" for="input-firstname">Profile Picture</label>-->
              <div class="col-sm-10"> <img src="<?=$image?>" />
                <input type="file" name="image" required="required" placeholder="Profile Picture" id="input-image" />
              </div>
              <div class="col-sm-12 marTp_15">
                <button class="btn btn-default" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <div id="clinic" class="tab-pane fade">
          <h3>Add Clinic Address   &nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="javascript:void(0)" id="plusbtn"><i class="fa fa-plus"></i></a></h3>
          <div class="table-responsive">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
 $( document ).ready(function() {

 $( ".hid" ).hide();
 $( "#plusbtn" ).click(function() {
   $( ".hid" ).toggle( "slow" );
 });

	$( "#autocomplete" ).blur(function() {
		var geocoder = new google.maps.Geocoder();
		var address = $('#autocomplete').val(); 
		geocoder.geocode( { 'address': address}, function(results, status) {
		if (status == google.maps.GeocoderStatus.OK) {
		var latitude = results[0].geometry.location.lat();
		var longitude = results[0].geometry.location.lng();
		$('#longitude').val(longitude);
		$('#latitude').val(latitude);
		
		} 
		}); 
	});

});
</script>
          
  <div class="hid">
    <table class="table" id="tbl">
    <tbody>
    <tr>
    <td><input placeholder="Locality" class="form-control input-small " type="text" name="locality"  id="autocomplete" onfocus="geolocate()" required="Required" />
       <input type="hidden" name="latitude" value="" id="latitude" />
       <input type="hidden" name="longitude" value="" id="longitude" /></td>
    <td><input id="stime" type="text" class="form-control input-small timepicker1" placeholder="Start Time" name="stime" required="Required" /></td>
    <td><input type="text" class="form-control input-small timepicker2" placeholder="End Time" name="etime" id="etime" required="Required"/></td>
    </tr>
    <tr>
    <td colspan="3">
    <textarea id="addres" name="addres" placeholder="Enter Full-Address" class="form-control col-xs-4" required="Required"></textarea>
    </td>
    </tr>
    
    </tbody>
    </table>
    <table class="table" >
    <tbody>
    <tr>
    <td colspan="5"><strong>MR Meeting Time</strong></td>
    </tr>
    <tr>
    <td><input id="mrtime" type="text" class="form-control input-small mrtime timepicker3" placeholder="Start Time" name="mrtimefrom" required="Required"/></td>
    <td><input id="mrtimeto" type="text" class="form-control input-small mrtime" placeholder="End Time" name="mrtimefromto" required="Required"/></td>
    </tr>
   
    </tbody>
    </table>
    <table class="table" >
    <tbody>
    <tr>
    <td colspan="5"><strong>Reception Login Credential</strong></td>
    </tr>
    
    <tr>
    <td><input id="recep_username" type="text" class="form-control input-small " placeholder="Reception Username" onBlur="checkAvailability()" name="recep_username" required="Required"/><p><img src="image/loading-small.gif" id="loaderIcon" style="display:none" /></p><span id="user-availability-status"></span> </td>
    <td><input id="recep_passs" type="text" class="form-control input-small" placeholder="Reception Password" name="recep_pass" required="Required"/></td>
    </tr>
    </tbody>
    </table>
    <button class="btn btn-success" id="add_add"> Add Address</button>
    
  </div>
 <!------Add popup box------>
<hr/>
<div class="clearfix">&nbsp;</div>
   </div>
<div class="form-group">
            <table aria-describedby="datatable_info" role="grid" id="datatable" class="table table-striped table-bordered dataTable no-footer">
              <thead>
                <tr>
                  <td width="40" class="text-left"><strong><?php echo $column_location; ?></strong></td>
                  <td width="40" class="text-right"><strong> <?php echo $column_timing; ?></strong></td>
                  <td width="14" class="text-right"><?php echo $column_action; ?></td>
                </tr>
              </thead>
              <tbody class="odd">
            <?php 
            if(count($doc_clinic)>0 && !empty($doc_clinic)){
            foreach ($doc_clinic as $clinic) {
            ?>
                <tr class="odd1" role="row">
                  <td class="sorting_1"><?php echo $clinic['locality']; ?></td>
                  <td><?php echo $clinic['timing']; ?></td>
                  <td><a href="<?php echo $clinic['delete']; ?>" data-toggle="tooltip" title="<?php echo $button_delete; ?>" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></td>
                </tr>
                <?php }} else { 
              ?>
              <td class="sorting_1" colspan="4">Result Not Found.</td>
                <?php } ?>
                  <td width="0"></tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      </section>
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container-fluid --> 
</div>

<script type="text/javascript">
            $('.timepicker1').timepicker({
					'minTime': '7:00am',
					'maxTime': '11:30pm'
				});
			$('.timepicker2').timepicker({
					'minTime': '7:00am',
					'maxTime': '11:30pm'
				});
			$('.timepicker3').timepicker({
					'minTime': '7:00am',
					'maxTime': '11:30pm'
				});
			$('.mrtime').timepicker({
					'minTime': '7:00am',
					'maxTime': '11:30pm'
				});
        </script>
 <script>
	
	$("#add_add").on("click", function(){
	//alert('abac');		
	var checkuser=$('#usernamevali').val();
	
	if(checkuser==1){return false;}
	
	var lcoality=$('#autocomplete').val();
	
	  if(lcoality==''){ return false;}
	  var rec_user= $('#recep_username').val();
	  if(rec_user==''){ return false;}
	  var rec_pwd= $('#recep_passs').val();
	  if(rec_user==''){ return false;}
	var dr_start_tm= $('#stime').val();
	
	if(dr_start_tm==''){ return false;}
		var dr_end_tm=$('#etime').val();
	if(dr_end_tm==''){ return false;}
	var addres = $('#addres').val();
	if(addres==''){ return false;}
	var mr_start_time=$('#mrtime').val();
	if(mr_start_time==''){ return false;}
	var mr_end_time=$('#mrtimeto').val();
	 if(mr_end_time==''){ return false;}
	var latitude =$('#latitude').val();
     if(latitude==''){ return false;}
	var	longitude =$('#longitude').val();
	if(longitude==''){ return false;}
	 $.ajax({
      type: 'POST',
      url: 'index.php?route=doctor/clinicajax',
      data: {rec_username:rec_user,rec_pwd:rec_pwd,lcoality:lcoality,dr_start_tm:dr_start_tm,dr_end_tm:dr_end_tm,mr_start_time:mr_start_time,mr_end_time:mr_end_time,addres:addres,latitude:latitude,longitude:longitude},
      dataType: "text",
      success: function(resultData) { location.reload(); }
});
});
	</script>
    
    
<script>
      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
      
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} **/(document.getElementById('autocomplete')),
            {types: ['geocode']});

       autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
		for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
	  
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
 
 function checkAvailability() {
	$("#loaderIcon").show();
	jQuery.ajax({
	url: "index.php?route=doctor/clinicajax/checkrepusername",
	data:'username='+$("#recep_username").val(),
	type: "POST",
	success:function(data){
	$("#user-availability-status").html(data);
	$("#loaderIcon").hide();
	},
	error:function (){}
	});
}
 
 </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV8IR0pybsjbjBMPs3kVUsvdlamzdcQw4&amp;libraries=places&amp;callback=initAutocomplete" async="" defer=""></script>

	

<!-- /#page-wrapper --> 
<?php echo $footer; ?>