<?php echo $header; ?><?php echo $column_left; ?>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
       <h2 class="appointments">Patient List </h2>
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <!--<div class="input-group">
          <input id="searchval"  class="form-control" placeholder="Search for..." type="text">
          <span id="searchdoc"></span> <span class="input-group-btn">
          <button id="searchdoctor" class="btn btn-default" type="button">Go!</button>
          </span> </div>-->
        </div>
      </div>
        <section class="">
	<div class="">
    <?php if(!empty($patients)) { 
             $i=1;
            foreach($patients as $patient){
            ?>
            <?php if($i==1){?>
        <article class="col-xs-12">
             <?php } ?>
            <div class="col-md-6 col-lg-4 wbreaks">
            
           <div class="media patient_list">
            	<div class="media-left media_sec text-center"><img class="patient_img" src="<?php echo $patient_image[$patient['cus_id']] ?>"></div>
       				<div class="media-body">
            			<span>Name : <p><?php echo $patient['firstname'] ?> <?php echo $patient['lastname'] ?></p> </span>
              			<?php if($patient['telephone']!=''){?> <span>Phone No. : <p><?php echo $patient['telephone'] ?></p> </span> <?php } ?>
              			<?php if($patient['email']!=''){ ?> <span>Email : <p><?php echo $patient['email'] ?> </p> </span> <?php } ?> 
       				<div class="text-right mr_tp20">
                    	<a class="btn btn-primary" href="<?php echo $patient_detail[$patient['cus_id']];?>">View profile</a>
                	</div>
           </div>
           </div>
            
            
            <!--<div class="doc-lst">
            	<p class="drk"> <i class="fa fa-map-marker" aria-hidden="true"></i> </p>
                <div class="profileBox text-center"><img src="<?php echo $patient_image[$patient['cus_id']] ?>" /></div>
                <p class="BDS"><?php echo $patient['firstname'] ?> <?php echo $patient['lastname'] ?></p>
              <?php if($patient['telephone']!=''){?>  <p class="BDS"><?php echo $patient['telephone'] ?></p><?php } ?>
              <?php if($patient['email']!=''){ ?>  <p class="BDS"><?php echo $patient['email'] ?> </p><?php } ?>
               
                <div class="line"></div>-->
         		<!--<ul class="star mrgn0">
                	<a class="view_profile"  href="<?php echo $doctor_appointment[$doctor['doc_id']];?>"> Book Appointment</a>
                </ul>-->
               <!--<a class="view_profile"  href="<?php echo $patient_detail[$patient['cus_id']];?>">View profile</a>
               </div>-->
            </div>
           <?php if($i==3){
           $i=0;
           ?>
        </article>
        <?php } ?>
         <?php $i=$i+1;}} ?>
    </div>
</section>
    </div>

  </div>

  <!-- /.container-fluid --> 

</div>
<script>
$(document).ready(function(){
var inp = $("#searchval");
if (inp.val().length > 0) {
   $("odd1").html() 
}
});
</script> 
<script>
		$(document).on('keyup', '#searchval', function(e) {
 		 e.preventDefault();
		//alert("test");
		//alert($(this).attr('data-value'));
		//alert("val");
		 $.ajax({
      url: 'index.php?route=patient/doctors/search&term=' + this.value,
      dataType: 'html',
      success: function(htmlText) {
        $('.odd').html(htmlText);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
		});


</script> 
<script>
    $( document ).ready(function() {
        $('.side-nav li:nth-child(4)').addClass("active");
    })
</script> 
<!--  <script src="catalog/view/javascript/jquery.js"></script>-->
<!--<script src="catalog/view/javascript/bootstrap-datetimepicker.min.js"></script>-->
      <script>
	  $( document ).ready(function() {
	  $('#idTourDateDetails input').datepicker({
    });
	});
	  </script>

<?php echo $footer; ?>