@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,600);



body{font-family: 'Open Sans';font-weight: 400;}

.navbar-ex1-collapse  { background: #4d4d4d;}

.navbar-brand { color:#fff !important;}

.navbar-inverse .navbar-nav > li > a { color:#fff;}

.navbar-inverse .navbar-nav > li > a i { padding-right: 10px;}

.navbar-inverse .navbar-nav > li > a .user { margin: 10px 0 0px 0px}

.navbar-inverse .navbar-nav > li > a .user p { text-align: center; font-size: 14px; font-weight: 600; padding-top: 15px; }

.navbar-inverse .navbar-nav > li > a .Consult { margin-top: 30px;}

.navbar-inverse .navbar-nav > li > a .Consult p { text-align: center; font-size: 15px; font-weight: 600; padding-top: 15px; }

.appointments { text-transform: uppercase; padding: 12px 0 0 9px; background: #428bca; font-size: 14px; color: #fff; font-weight: 500; margin: 0px; min-height: 42px; border-top-left-radius: 5px; border-top-right-radius: 5px; margin: 0px;}

.appointments .fa-plus-square-o { float: right; font-size: 22px; padding-right: 20px;}

.table > tbody > tr, .table > tbody > tr > th, .table > tfoot > tr, .table > tfoot > tr, .table > thead > tr, .table > thead > tr > th { font-size: 14px; font-weight: 600; text-align: center; color: #202020;}

.table > tbody > tr > td, .table > tbody > tr, .table > tfoot > tr > td, .table > tfoot > tr, .table > thead > tr > td, .table > thead > tr { padding: 10px 0 0 20px; font-size: 14px; font-weight: 500; text-align: center; color: #202020;}

.btn-primary {background-color: #428bca; border-color: #428bca; color: #fff; padding: 3px 15px 3px 16px; margin:  -5px 0 5px 0px;}

.media { margin: 0px; padding: 0px; border: 1px solid #e2dede;}

.media-left { width: 30%; text-align: right; padding-top: 10px;}

.media-left p { color: #867e7e; font-size: 12px; font-weight: normal; padding-right: 3px;}

.media-heading1 { float: left; padding-left: 10px;}

.media-heading1 h4 { color:#222121; font-size: 15px; font-weight: 600;}

.media-heading1 p {  color: #867e7e; font-size: 12px; font-weight: normal;}

.media-body img{ float: left; padding-top: 3px;}

.media-body { padding-top: 10px;}

.cont101 img { width: 100%;}

.modal-content { margin-top: 20%;}

@media (min-width:0px) and (max-width:767px){

.media { margin-bottom: 0px;}

.appointments { margin-top: 10px;}

.top-nav > li > a {padding: 6px 0 6px 10px;}

.table > tbody > tr > td, .table > tbody > tr, .table > tfoot > tr > td, .table > tfoot > tr, .table > thead > tr > td, .table > thead > tr {font-size: 13px;

    font-weight: 600;   padding: 10px 0 0;}

.btn-primary {  margin: -5px 0 5px;  padding: 1px 5px 1px 5px;}

}



@media (max-width: 400px){

.table > tbody > tr > td, .table > tbody > tr, .table > tfoot > tr > td, .table > tfoot > tr, .table > thead > tr > td, .table > thead > tr {font-size: 10px;

    font-weight: 600;   padding: 10px 0 0;}	

}