
.marTp_15{margin-top:15px;}
.form-group.marRl0{margin-right:0; margin-left:0;}
.min-page-ht{min-height:500px;}
.mr_Tb5{margin-top:5px; margin-bottom:5px;}
.mr_btm20{margin-bottom:20px;}
.btn_style{padding:8px 50px; margin-top:10px; margin-bottom:10px;}
.avality_box{background-color:#f5f5f5;}
.mr_Tb30{margin-top:30px; margin-bottom:30px;}
.avality_box .list_heading{background-color:#4d4d4d; color:#fff; margin-top:0px; padding:8px; font-size:15px;} 
.modal_back{background-color:#449d44; border-color:#255625;}
.modal_back h4{color:#fff;}
.btn_center{margin:auto; display:block;}
.padall30{padding:30px;}
.pad_Tb20{padding-top:20px; padding-bottom:20px;}
.pad_Tb30{padding-top:30px; padding-bottom:30px;}
.pad_Tb15{padding-top:15px; padding-bottom:15px;}
.patient_list{padding:10px; margin-bottom:20px;}
.patient_list .media_sec{padding-top:0px; padding-right:20px;}
.patient_img{border-radius:50%; border:solid 1px #ddd; width:120px; height:120px;}
.wbreaks{word-break:break-all;}
.fborder{color: rgb(132, 141, 149); background:rgb(249, 249, 249); border:1px solid rgb(212, 212, 212); box-shadow:3px 3px rgb(242, 242, 242); border-radius:10px;}
.fborder h3{font-size:20px; margin:0px; color: rgb(132, 141, 149);}
.sel_pad{padding-left:15px; padding-right:15px;}
.service_fp{padding-top:50px; padding-bottom:50px; background:rgb(249, 249, 249); border:1px solid rgb(212, 212, 212); box-shadow:3px 3px rgb(242, 242, 242);}
.serv{background-color:#449d44; border-color:#255625; color:#fff; font-size:20px;}
.min_h286{min-height:286px;}
.min_h220{min-height:220px;}
.media.overcal{overflow:visible;}
.media-body.overcal{overflow:visible;}


#intro .zelect {
      display: inline-block;
      background-color: white;
      min-width: 300px;
      cursor: pointer;
      line-height: 36px;
      border: 1px solid #bcbaba;
      border-radius: 6px;
      position: relative;
	  width: 100%;
    }
    #intro .zelected {
      padding-left: 10px;
    }
 
    #intro .zelected:hover {
      border-color: #c0c4ab;
      box-shadow: inset 0px 5px 8px -6px #dbdece;
    }
    #intro .zelect.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    #intro .dropdown {
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #dbdece;
      border-top: none;
      position: absolute;
      left:-1px;
      right:-1px;
      top: 36px;
      z-index: 20;
      padding: 3px 5px 3px 3px;
    }
    #intro .dropdown input {
      font-family: sans-serif;
      outline: none;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #dbdece;
      box-sizing: border-box;
      width: 100%;
      padding: 7px 0 7px 10px;
    }
    #intro .dropdown ol {
      padding: 0;
      margin: 3px 0 0 0;
      list-style-type: none;
      max-height: 150px;
      overflow-y: scroll;
    }
    #intro .dropdown li {
      padding-left: 10px;
    }
    #intro .dropdown li.current {
      background-color: #e9ebe1;
    }
    #intro .dropdown .no-results {
      margin-left: 10px;
    }
   .success-msg {color:green;}
   
   .btn-default { background: #5198c4; color: #fff;}
   .btn-default:hover { background: #2674a4; color: #fff; border: 1px solid #2674a4;}
   .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background: #b9b7b7; color: #fff; border-color: #b9b7b7;}
   .form_datetime .form-control { width: 100%;}
   .required  .form-control { width: 100%;}
   .bac-gry{background:#cccccc none repeat scroll 0 0} 
   .search11 .form-control11 { width: 300px; min-height: 150px; border: 1px solid #ccc; border-radius: 4px;}
   .search11 lable { color: #2b2b2b; font-size: 16px; font-weight: 600; }
   .search11 .btn-Submit12 { float: right; background: #5198c4; margin: 10px 20px 0 0px; color:#fff; font-size: 16px; font-weight: 400;}
   .search11 .btn-Submit12:hover { background: #2674a4;}
   .mrglef{margin-left:152px;}
   .mrgtp6{margin-top:6px;}
   .mrgrt14{margin-right:-14px;}
   
   .autoPopup ul{padding-left:0; border:solid 1px #ddd; margin-top:-15px; }
   .autoPopup ul li a{padding:6px .8em; border-bottom:1px solid #f3f3f3; color:#222 ;text-transform:capitalize; display:block;}
   .autoPopup ul li a:hover{text-decoration:none; color: #0d000a;background-color: #b9b7b7;}
   .mrgl-1{margin-left:-1px !important;}
    .autoSugest ul{padding-left:0; border:solid 1px #ddd; margin-top:-15px; width:375px !important; border-radius:5px;}
   .autoSugest ul li a{padding:6px .8em; border-bottom:1px solid #f3f3f3; color:#222 ;text-transform:capitalize; display:block;}
   .autoSugest ul li a:hover{text-decoration:none; color: #0d000a;background-color: #b9b7b7;}
   .wd50{width:100%; float:left; margin-left:5px; max-width:30%;}
   .txtwdt{width:100% !important;}
   .mrgl10{margin-left:10px;}
   .mrgr10{margin-right:10px !important;}
   .mrgt25{margin-top:25px;}
   .MdTest{width:100%; max-width:92%; float:left}
   .wd100{width:100% !important}
   .mrgbtn15{margin-bottom:15px;}
   .fr{float:right}
   .txlc{text-align:center}
   .wd1000{width:1000px;}
   .input_styl {
    position: relative;
}
	.btn_fix{position:fixed;}
.input_styl i {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #b2b2b2;
}
.input_styl input {
    margin-bottom: 15px;
    padding-left: 45px;
}
/*.input_styl i {
    color: #b2b2b2;
    left: 15px;
    position: absolute;
    top: 10px;
}*/



@media (max-width:1580px){
		.wd50{width:100%; float:left; margin-left:5px; max-width:29%;}
		.MdTest{width:100%; max-width:90%; float:left}
	}
	
@media (max-width:1290px){
		.wd50{width:100%; float:left; margin-left:5px; max-width:27%;}
		.MdTest{width:100%; max-width:85%; float:left}
	}
	