/*-----------aside start----------------------*/
.side_filter { border: 1px solid #e5dede; padding: 0px; margin-bottom: 20px; margin-top: 23px;  }
.panel-heading {border-top-left-radius: 0px; border-top-right-radius: 0px;}
.days_filter { margin-left: -15px;}
.side_filter .panel-default > .panel-heading { background: #2795c6;}
.side_filter .panel-default > .panel-heading .panel-title a{ color: #fff; text-decoration: none;}
.side_filter .panel-body { background: #2795c6; color:#fff; font-size: 16px; font-weight: 400;}
.side_filter ul.days_filter ul{ list-style: none;}
.side_filter ul.days_filter li{ float: left; padding: 3px 0 15px 12px; list-style: none; }
.side_filter ul.days_filter li a { text-decoration: none; color: #3a3a3a; font-size: 14px; font-weight: normal; cursor: pointer;}
.side_filter ul.days_filter li.active { background: #636465; color: #fff; font-size: 14px; font-weight: normal; padding: 3px 15px 3px 15px;}
.side_filter .medvow_Consult{ text-align: center;}
.side_filter .medvow_Consult .fa-comments-o{ font-size: 45px; margin: 38px 0 15px 0;}
.side_filter h4 {  padding: 15px 0 10px 0px;}
.side_filter p{ font-size: 13px; color: #373737; padding: 15px 20px 20px 20px; line-height: 18px; font-weight: normal;}
.side_filter .latest_news h4 { text-align: left; padding: 25px 0 0 23px;}
.side_filter .latest_news .month { color: #fff; font-size: 13px; font-weight: 600; background: #3aaadc; padding: 7px; margin: 20px; }
.side_filter .latest_news p { color: #727272;  font-size: 12px;  font-weight: normal;  margin: -12px 48px 0 19px;  padding: 0;}
.side_filter .latest_news p a { text-decoration: none; color: #328cec; cursor: pointer; font-size: 13px;  font-weight: 600; }
.time p { text-align: center; color: #3a3a3a; font-weight: 600; font-size: 14px;}
.ui-slider-horizontal {  height: 8px;  background: #D7D7D7;  border: 1px solid #BABABA;  box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset; clear: both;  margin: 8px 0;
    -webkit-border-radius: 6px;   -moz-border-radius: 6px;   -ms-border-radius: 6px;  -o-border-radius: 6px;  border-radius: 6px;}
.ui-slider {  position: relative;  text-align: left;}
.ui-slider-horizontal .ui-slider-range { top: -1px; height: 100%;}
.ui-slider .ui-slider-range {  position: absolute; z-index: 1;  height: 8px;  font-size: .7em;  display: block;  border: 1px solid #5BA8E1;    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;  -webkit-border-radius: 6px;   -khtml-border-radius: 6px;   border-radius: 6px;    background: #81B8F3;
    background-size: 100%;  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);  background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);  background-image: linear-gradient(top, #A0D4F5, #81B8F3);}
.ui-slider .ui-slider-handle {  border-radius: 50%; background: #F9FBFA;   background-size: 100%;   background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);   background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);    background-image: linear-gradient(top, #C7CED6, #F9FBFA);  width: 22px;  height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;  -moz-transition: box-shadow .3s;  -o-transition: box-shadow .3s;  transition: box-shadow .3s;}
.ui-slider .ui-slider-handle { position: absolute;  z-index: 2; width: 22px; height: 22px;  cursor: default;  border: none;  cursor: pointer;}
.ui-slider .ui-slider-handle:after { content:"";  position: absolute; width: 8px; height: 8px; border-radius: 50%; top: 50%; margin-top: -4px; left: 50%; margin-left: -4px;
    background: #30A2D2;  -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;  -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;}
.ui-slider-horizontal .ui-slider-handle { top: -.5em;  margin-left: -.6em;}
.ui-slider a:focus { outline:none;}
.slider_range { width: 90%; margin: 0 auto;}


/*-----------aside end----------------------*/

/*-----------article start-------------------*/
.dr_profile { border: 1px solid #e3dcdd; margin: 10px 0 15px 0px; padding: 0px; text-align: center; width: 31%; margin-right: 17px;}
.dr_profile p { background: #3aaadc; color: #fff; font-size: 16px; text-align: left; }
.dr_profile p .fa-map-marker { color: #fff; padding: 8px 5px 8px 15px; font-size: 17px;}
.dr_profile .profileBox{ border-radius: 50%; border: 2px solid #3aaadc; width: 154px; height: 154px;  text-align: center; overflow: hidden; display: inline-block;}
.dr_profile .profileBox img { text-align: center;}
.dr_profile .BDS { text-align:center; background: none; color: #2e2e2e; font-weight: 500; line-height: 9px; margin-top: 12px; font-size: 15px; min-height: 9px; }
.dr_profile .line { height: 1px; background: #e3dcdd; margin-top: 15px; }
ul.star { margin: 0px 0px 0px -40px; }
ul.star ul { list-style: none; }
ul.star li { list-style: none; float: left;  padding-left: 4px; }
ul.star li.fa-star-o { background: #c4b8b8; font-size: 30px;  }
.dr_profile .view_profile { float: right; padding: 13px 15px 10px 0px; text-decoration: none; color:#2e2e2e; font-weight: 600; font-size: 15px;}
.dr_profil_text { padding: 46px 0 0 0px;}

@media (max-width:1200px){
.dr_profile {width: 30%; }
.dr_profile .profileBox { width: 124px; height: 124px;}
.dr_profile .profileBox img { width: 126px; }
.dr_profile .BDS { font-size: 13px; line-height: 7px;}
ul.star li { padding-left: 2px;}
ul.star {margin: 13px 0px 0px -33px;}
.dr_profile .view_profile { font-size: 13px; font-weight: 600; padding: 13px 9px 10px 0px;}
.ddd img { width: 100%;}
}
@media (max-width:992px){
.dr_profile {width: 29%; margin-right: 20px; }
.dr_profile p { font-size: 12px;}
.dr_profile p .fa-map-marker {font-size: 12px;}
.dr_profile .profileBox { width: 105px; height: 105px;}
.dr_profile .profileBox img { width: 100px; }
.dr_profile .BDS { font-size: 11px; line-height: 5px;}
ul.star li { padding-left: 2px;}
ul.star {margin: 7px 0px 0px -38px;}
.dr_profile .view_profile { font-size: 11px; font-weight: 600; padding: 10px 5px 10px 0px;}
.fa-star-o {font-size: 10px;}	

}
@media (max-width:767px){
.dr_profile { min-height: 280px;  display: inline-block; width: 45%; margin-right: 18px; }
ul.star {margin: 13px 0px 0px -25px;}
.dr_profile .view_profile { font-size: 14px; font-weight: 600; padding: 13px 15px 10px 0px;}
}
@media (max-width:480px){
.dr_profile  { width: 100%;}
ul.star {margin: 13px 0px 0px -25px;}
.dr_profile .view_profile { font-size: 14px; font-weight: 600; padding: 13px 15px 10px 0px;}
}
/*-----------article end-------------------*/
.drk{
	background-color:#b9b7b7 !important;
	color: #fff;
    font-size: 16px;
    text-align: left;
	height:60px;
	
	}
	.mrgn0{margin:0px !important;}
