/*-----------article start-------------------*/
.dr_profile { border: 1px solid #e3dcdd; margin: 10px 0 15px 0px; padding: 0px; text-align: center; width: 31%; margin-right: 17px;}
.dr_profile p { background: #3aaadc; color: #fff; font-size: 16px; text-align: left; }
.dr_profile p .fa-map-marker { color: #fff; padding: 8px 5px 8px 15px; font-size: 17px;}
.dr_profile .profileBox{ border-radius: 50%; border: 2px solid #3aaadc; width: 154px; height: 154px;  text-align: center; overflow: hidden; display: inline-block;}
.dr_profile .profileBox img { text-align: center;}
.dr_profile .BDS { min-height: 9px; text-align:center; background: none; color: #2e2e2e; font-weight: 500; line-height: 9px; margin-top: 12px; font-size: 15px;}
.dr_profile .line { height: 1px; background: #e3dcdd; margin-top: 15px; }
ul.star { margin: 13px 0px 0px -25px; float: left; }
ul.star ul { list-style: none; }
ul.star li { list-style: none; float: left;  padding-left: 4px; }
ul.star li.fa-star-o { background: #c4b8b8; font-size: 30px;  }
.dr_profile .view_profile { float: right; padding: 13px 15px 10px 0px; text-decoration: none; color:#2e2e2e; font-weight: 600; font-size: 15px;}
.dr_profil_text { padding: 46px 0 0 0px;}

@media (max-width:1200px){
.dr_profile {width: 30%; }
.dr_profile .profileBox { width: 124px; height: 124px;}
.dr_profile .profileBox img { width: 126px; }
.dr_profile .BDS { font-size: 13px; line-height: 7px;}
ul.star li { padding-left: 2px;}
ul.star {margin: 13px 0px 0px -33px;}
.dr_profile .view_profile { font-size: 13px; font-weight: 600; padding: 13px 9px 10px 0px;}
.ddd img { width: 100%;}
}
@media (max-width:992px){
.dr_profile {width: 29%; margin-right: 20px; }
.dr_profile p { font-size: 12px;}
.dr_profile p .fa-map-marker {font-size: 12px;}
.dr_profile .profileBox { width: 105px; height: 105px;}
.dr_profile .profileBox img { width: 100px; }
.dr_profile .BDS { font-size: 11px; line-height: 5px;}
ul.star li { padding-left: 2px;}
ul.star {margin: 7px 0px 0px -38px;}
.dr_profile .view_profile { font-size: 11px; font-weight: 600; padding: 10px 5px 10px 0px;}
.fa-star-o {font-size: 10px;}	

}
@media (max-width:767px){
.dr_profile { min-height: 280px;  display: inline-block; width: 45%; margin-right: 18px; }
ul.star {margin: 13px 0px 0px -25px;}
.dr_profile .view_profile { font-size: 14px; font-weight: 600; padding: 13px 15px 10px 0px;}
}
@media (max-width:480px){
.dr_profile  { width: 100%;}
ul.star {margin: 13px 0px 0px -25px;}
.dr_profile .view_profile { font-size: 14px; font-weight: 600; padding: 13px 15px 10px 0px;}
}
/*-----------article end-------------------*/

