


@media (max-width:992px){
	.navbar-brand img{max-width:205px;}
}

@media (max-width:767px){
/*------navigation start--------*/
.medivow_header .navbar-collapse{width:100%; position:absolute; background-color:#fff;}
.medivow_header .nav.navbar-nav{float:none;}
.medivow_header .nav.navbar-nav > li > a{height:auto; line-height:auto;}
/*------navigation end--------*/

/*------banner start--------*/
.banner{height:50vw;}
.banner .media-middle{vertical-align:bottom;}
.search_bar{padding:20px; margin-bottom:4%;}
.search_bar > .col-sm-5{padding-right:0px;}
.txt_box{margin-bottom:10px;}
/*------banner end--------*/

/*------lastest blog start--------*/
.medivow_blog .ped_media0{padding-left:0; padding-right:0;}
.medivow_blog ._pad_lft0{padding-right:0;}
aside.medivow_events{padding:0;}
/*------lastest blog end--------*/
}

@media (max-width:480px){
/*------banner start--------*/
.navbar-brand{width:80%;}
.banner{height:60vw;}
/*------banner end--------*/

/*------lastest blog start--------*/
.medivow_events .media-body{display:block; padding-top:10px;}
/*------lastest blog end--------*/
}