.side-nav {display:none;}
.navbar{display:none;}
.col-md-12 col-sm-12 col-xs-12{display:none;}
#datatable{display:none;}
.modal-footer{display:none;}
.pull-right{display:none;}
.appointments{display:none;}
.modalDiv{width:100%}
.modal-header,modal_back{display:none;}
.modal_back{border:none;}
.modal-header modal_back{border:none;}
..modal-header { border: none;}