@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,600);

body{font-family: 'Open Sans';font-weight: 400;}

/*------reusable class start--------*/
._style_bg{background-size:cover; background-position:center center; width:100%; background-repeat:no-repeat; position:relative;}
.btn_blue{background-color:#3aaadc; color:#fff;}
.btn_blue:hover,.btn_blue:focus{color: white;background-color: #4dc6fc;}
._fix_bg{background-attachment:fixed;}
._bg_overlay{position: absolute;width: 100%;top: 0px;bottom: 0px;}
._upr_lyr{position:relative;}
._pad0{padding:0;}
._pad_tp15{padding-top:15px;}
._pad_tp20{padding-top:20px;}
._pad_lft0{padding-left:0px;}
._pad_lft35{padding-left:35px;}
._pad_tb20{padding-top: 20px; padding-bottom:20px;}
._pad_btm20{padding-bottom:20px;}
._pad_btm30{padding-bottom:30px;}
._mar_tp20{margin-top:20px;}
._mar_tp30{margin-top:30px;}
._mar_tp50{margin-top:50px;}
._mar_btm30{margin-bottom:30px;}
._mar_lr10{margin:0px 10px;}
._mar_btm10{margin-bottom:10px;}
/*------reusable class end--------*/

/*------navigation start--------*/
.medivow_header{background-color: rgba(255, 255, 255, 0.9); border-color:#ededed; border-top: solid 3px #0cb6db; font-weight:600; font-size:15px;box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);}
.medivow_header .navbar-brand{padding-top:0; padding-bottom:0; height:auto;}
.medivow_header .navbar-brand img{max-height:72px; transition:max-height 0.6s ease-in-out;}
.medivow_header .nav.navbar-nav{float:right; text-transform:uppercase;}
.medivow_header .nav.navbar-nav > li > a{line-height:42px; transition:line-height 0.6s ease-in-out;}
.navbar-default .navbar-nav > li > a{color:#373737;}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:focus,.navbar-default .navbar-nav > .active > a:hover
{background-color:#3aaadc; color:#fff;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{color:#3aaadc;}
.sticky .nav.navbar-nav > li > a{line-height: 20px; transition:line-height 0.6s ease-in-out;;}
.sticky .navbar-brand img{max-height:50px; transition:max-height 0.6s ease-in-out;}
/*------navigation end--------*/

/*------banner start--------*/
.banner{max-height:530px; height:39vw; min-height:400px;}
._bg_overlay.white{background-color: rgba(255, 255, 255, 0.3);}
.banner h1{font-weight:300; color:#1a2224;}
.search_bar{background-color:#fff; padding:8px; border-radius:6px; border:solid 1px #cdcdcd; box-shadow:1px 0px 5px -3px #000; margin-top:4%;}
.txt_box{width:100%; background-color:#e4e4e4; padding:8px; border:solid 1px #d8d8d8; border-radius:6px; display:inline-block; position:relative;}
.banner .txt_box input{display:inline-block; background-color:transparent; border:none; box-shadow:none;}
.banner .txt_box.loc input{width:50%;}
.banner .txt_box.spec{border:solid 1px #0cb6db;}
.txt_box .form-control::-moz-placeholder{color:#2e2e2e;opacity:1;font-weight:400;}
.txt_box .form-control:-ms-input-placeholder{color:#2e2e2e; font-weight:400;}
.txt_box .form-control::-webkit-input-placeholder{color:#2e2e2e; font-weight:400;}
.txt_box .icon_pos{position:absolute; left:8px; top:11px; color:#19b9dc;}
.banner .txt_box .seprator{border-left: 1px solid #ccc;}
.srch_btn{padding:0;}
.srch_btn a{width:100%; line-height:38px; border-radius:6px;}
/*------banner end--------*/

/*------services start--------*/
.medivow_services .row h4{font-weight:700; text-transform:uppercase; margin-bottom:5px;}
.medivow_services p{line-height:26px; color:#1b1b1b;}
.medivow_services p > a{color:#121212; font-weight:600; text-decoration:underline; font-style:italic; margin-left:10px;}
.medivow_services p > a:hover{color:#3aaadc;}
/*------services start--------*/

/*------parallax start--------*/
.medivow_prlx{max-height:349px; height:39vw; min-height:250px; color:#fff;}
.medivow_prlx h2{text-transform:uppercase; font-size:22px; font-weight:700;}
.medivow_prlx p{font-size:16px;}
.medivow_prlx .btn_blue{color:#fff; font-size:16px; padding:10px 25px;}
.medivow_prlx .tp_mar{margin-top:3%;}
._bg_overlay.black{background-color: rgba(0, 0, 0, 0.39);}
/*------parallax end--------*/

/*------lastest blog start--------*/
.medivow_blog{background-color:#f5f5f5; padding:20px 0px 40px 0px;}
.clndr_box{line-height:25px;}
.clndr_box > i{margin-right:10px; color:#3bc3e0; font-size: 23px;}
.blog_cnt{line-height:25px; margin-bottom:0px;}
.more_cnt{font-size:14px; font-style:italic; color:#333; font-weight:600;}
.more_cnt:hover{color:#3aaadc;}
/*------lastest blog end--------*/

/*------medivow partners start--------*/
.logo_slider{padding:0px 50px; margin:35px 0px;}
.logo_slider .item .title{padding:10px 0px; font-weight: 700; color:#3a3a3a; font-size:16px;}
.logo_slider .item img{max-width:198px; max-height:102px; display:inline;}
.logo_slider.owl-theme .owl-controls .owl-buttons div {position: absolute;width: 40px;height: 40px;border-radius: 0px;font-size: 25px;padding: 0;}
.logo_slider.owl-theme .owl-controls .owl-buttons div i{line-height:40px;}
.logo_slider.owl-theme .owl-controls .owl-buttons .owl-prev{left: 0px;top: 28px;} 
.logo_slider.owl-theme .owl-controls .owl-buttons .owl-next{right: 0px;top: 28px; z-index:21;}
/*------medivow partners end--------*/

/*------footer start--------*/
.medivow_footer{background-color:#0cb6db; color:#fff;}
.medivow_footer h4{font-weight:700; text-transform:uppercase;}
.medivow_footer ul{padding-left:0px; list-style:none; margin:0;}
.medivow_footer ul li a{color:#fff; display:block; padding:7px 0px; font-size:15px;}
.medivow_footer ul li a:hover,.medivow_footer ul li a:focus{text-decoration:none;color:rgba(0, 0, 0, 0.5);}
ul li.medivow_social a{display:inline-block; width:47px; height:47px; text-align:center; border:2px solid white; border-radius:50%; transition:all 0.3s ease-in-out;}
ul li.medivow_social a:hover,ul li.medivow_social a:focus{color:#0cb6db; background-color: white;transition:all 0.3s ease-in-out;}

.medivow_copyright{background-color:rgba(255, 255, 255, 0.28);}
.medivow_copyright ul{display:inline-block; margin:0; list-style:none; padding:8px 0px;}
.medivow_copyright ul li{ float:left;}
.medivow_copyright ul li a{color:#fff; padding:4px 8px; font-size:15px;}
.copyright_text{color:#232323; margin-right:10px; padding:4px 8px;}
/*------footer end--------*/

/*------scroll to top start--------*/
.scrollToTop{ width: 58px; height: 58px; border-radius:50%; text-align: center; background-color:#333; 
color: #fff; text-decoration: none; position: fixed; bottom: 75px; right:40px; display:none;}
.scrollToTop:hover, .scrollToTop:focus{ text-decoration: none;background-color: #1d6a8d; color: white;}
.scrollToTop i{line-height:58px;}

.regbtn {
    border-radius: 6px;
    line-height: 38px;
    width: 100%;
}
/*------scroll to top end--------*/