
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <div class="side-nav">
      <ul class="nav navbar-nav id="sideFotr">
     

        <li > <a href="index.php?route=doctor/patients"><i class="fa fa-list-alt" aria-hidden="true"></i> Patients list</a> </li>
        <li> <a href="<?php echo $action_cse_studay; ?>"><i class="fa fa-home" aria-hidden="true"></i></i> Case Study</a> </li>
        <li> <a href="<?php echo $action_daily_essay; ?>"><i class="fa fa-file-text-o" aria-hidden="true"></i> Daily Essay</a> </li>
        <li> <a href="index.php?route=doctor/doctor/calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a> </li>
        <li> <a href="index.php?route=doctor/billing"> <i class="fa fa-hand-o-down" aria-hidden="true"></i> Billings</a> </li>
        <!--<li> <a href="index.php?route=patient/appointment">
          <div class="Consult text-center"> <img src="catalog/view/theme/default/image/doctor.png">
            <p>Consult a Doctor</p>
          </div>
          </a> </li>-->
      </ul>
    </div>
    </div>
    <!-- /.navbar-collapse --> 
  </nav>