</div>
<!-- /#wrapper --> 
<?php if($route=='patient/patient/calendar'){ ?>
<script src="catalog/view/javascript/bootstrap.min.js"></script>
<?php } else { ?>

<!-- jQuery --> 
<script src="catalog/view/javascript/jquery.js"></script> 
<script src="catalog/view/javascript/bootstrap.min.js"></script>
<script src="catalog/view/javascript/bootstrap-datetimepicker.min.js"></script>
<script src="catalog/view/javascript/zelect.js"></script>
<script src="catalog/view/javascript/jquery.slimscroll.min.js"></script>

<script type="text/javascript">
    $(function(){

      $('#sideFotr').slimScroll({
          wheelStep: 20
      });

    });
</script>
 <script type="text/javascript">
		 $(setup)

    function setup() {
      $('#intro select').zelect({ placeholder:'Select Doctor' })
    }
	
		$('.form_datetime').datetimepicker({
			//language:  'fr',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1
		});
        </script>
        <?php } ?>
</body>
</html>
