<?php echo $header; ?>
<?php echo $column_left; ?>
</nav>
<div id="page-wrapper" class="min-page-ht">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-8 col-sm-offset-2">
       
  <!--<div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php //echo $success; ?>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>-->
  
   
    <!--<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php //echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>-->
    
          <h2 class="appointments"><?php //echo $heading_title; ?>Prescription</h2>
          <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-information" class="form-horizontal marTp_15">
                <div class="form-group marRl0">
                <label for="comment"><?php //echo $entry_title; ?>Title</label>
                 <input type="text" name="title" value="<?php //echo isset($title) ? $title : ''; ?>" placeholder="<?php //echo $entry_title; ?>" id="input-title" class="form-control" />
                  
              <div class="text-danger"><?php //echo $error_title; ?></div>
              
    </div>
    <div class="form-group marRl0">
                  <label for="comment"><?php //echo $entry_description; ?>Medicin</label>
                  <textarea name="medicin" placeholder="<?php //echo $entry_description; ?>" id="input-description" placeholder="Medicin" class="form-control summernote"><?php //echo isset($description) ? $description : ''; ?></textarea>
                 
              <div class="text-danger"><?php //echo $error_description; ?></div>
              
                </div>
                  <div class="form-group marRl0">
                  <label for="comment"><?php //echo $entry_description; ?>Precausion</label>
                  <textarea name="precausion" placeholder="<?php //echo $entry_description; ?>" id="input-description" placeholder="Precausion" class="form-control summernote"><?php //echo isset($description) ? $description : ''; ?></textarea>
                 
              <div class="text-danger"><?php //echo $error_description; ?></div>
              
                </div>
                
                   <div class="form-group marRl0">
                  <label for="comment"><?php //echo $entry_description; ?>Diet</label>
                  <textarea name="diet" placeholder="<?php //echo $entry_description; ?>" id="input-description" placeholder="Diet" class="form-control summernote"><?php //echo isset($description) ? $description : ''; ?></textarea>
                 
              <div class="text-danger"><?php //echo $error_description; ?></div>
              
                </div>

                <div class="form-group marRl0">
                  <label for="comment"><?php //echo $entry_description; ?>Description</label>
                  <textarea name="description" placeholder="<?php //echo $entry_description; ?>" id="input-description" placeholder="Description" class="form-control summernote"><?php //echo isset($description) ? $description : ''; ?></textarea>
                 
              <div class="text-danger"><?php //echo $error_description; ?></div>
              
                </div>

                
          <button class="btn btn-default" type="submit">Submit</button>
       
                    
                   
                  
                  
               </form>
        </div>
      </div>
      
      <!-- /.row --> 
    </div>
    <!-- /.container-fluid --> 
    
  </div>
  <!-- /#page-wrapper -->

<?php echo $footer; ?>